registry/directory/xcbl/v4/financial/v1_0/InvoiceResponseDetailType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" xmlns:core="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" xmlns:dgs="http://www.w3.org/2000/09/xmldsig#" targetNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" elementFormDefault="qualified">
<xsd:import namespace="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" schemaLocation="../../core/core.xsd"/>


    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XML Common Business Library 4.0
            Copyright 2002 Commerce One, Inc.
            Permission is granted to use, copy, modify and distribute the
            DTD's, schemas and modules in the Commerce One XML Common Business
            Library Version 4.0 subject to the terms and conditions specified
            at http://www.xcbl.org/license.html
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="InvoiceResponseDetailType">
        <xsd:annotation>
            <xsd:documentation>contains the line item details of the invoice response.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="InvoiceResponseCoded" type="core:BasicResponseCodeType">
                <xsd:annotation>
                    <xsd:documentation>is the response code. The invoice item can be rejected or accepted by the <!--code-->InvoiceResponse<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceResponseCodedOther" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>is used to provide a non-standard <!--code-->BasicResponseCode<!--/code-->. This element is mandatory if the value of <!--code-->InvoiceResponseCoded<!--/code--> is 'Other'. These codes should not contain white space unless absolutely necessary</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LineItemNum" type="core:LineItemNumType">
                <xsd:annotation>
                    <xsd:documentation>identifies the line item number from the invoice that the detail is responding to.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="LineItemType" type="core:LineItemTypeType">
                <xsd:annotation>
                    <xsd:documentation>identifies whether the line item is a component group (consists of other line items),
					a typical line item, or a textual line item.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ParentItemNumber" type="core:LineItemNumberReferenceType">
                <xsd:annotation>
                    <xsd:documentation>identifies the line item that groups this and other line items.
					This is done using <!--code-->LineItemNumberReference<!--/code-->, which specifies the number of the
					parent line item and whether this reference is the Buyer or Seller's number.
					<!--code-->LineItemNumberReference<!--/code--> is a string content model of datatype integer that
					contains an attribute to specify whether the <!--code-->ParentItemNumber<!--/code--> is a Seller or Buyer
					number, with the default being Buyer. This value references the parent item
					represented a group.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ItemIdentifiers" type="core:ItemIdentifiersType">
                <xsd:annotation>
                    <xsd:documentation>details all of the part numbers assigned to the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfDimension" type="core:ListOfDimensionType">
                <xsd:annotation>
                    <xsd:documentation>lists one or more quantitative measurements of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoicedQuantity" type="core:QuantityType">
                <xsd:annotation>
                    <xsd:documentation>contains the total amount of the line item pertaining to the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ExceptionQuantities" type="ExceptionQuantitiesType">
            	<xsd:annotation>
                	<xsd:documentation>identifies if invoiced quantity is different to
					the ordered quantity.</xsd:documentation>
               	</xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfQuantityCoded" type="core:ListOfQuantityCodedType">
                <xsd:annotation>
                    <xsd:documentation>specifies any other quantities not explicitly stated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="LineItemReferences" type="InvoiceReferencesType">
            	<xsd:annotation>
                  	<xsd:documentation>contains external references that are pertinent to the invoice at
					line item level if different to the header level.</xsd:documentation>
               	</xsd:annotation>
           	</xsd:element>
            <xsd:element minOccurs="0" name="CountryOfOrigin" type="core:CountryType">
                <xsd:annotation>
                    <xsd:documentation>specifies the country code for the country in which the line item
					was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CountryOfDestination" type="core:CountryType">
                <xsd:annotation>
                    <xsd:documentation>specifies the country code for the country in which the delivery
					is finally received.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfPartyCoded" type="core:ListOfPartyCodedType">
                <xsd:annotation>
                    <xsd:documentation>specifies any other parties associated with the line item that are
					not already explicitly stated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceDetailAmountDue" type="core:MonetaryValueType">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceDetailAmountToBePaid" type="core:MonetaryValueType">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TotalLineItemAdjustmentAmount" type="core:MonetaryValueType">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfAdjustmentDetail" type="ListOfAdjustmentDetailType">
                <xsd:annotation>
                    <xsd:documentation/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfStructuredNote" type="core:ListOfStructuredNoteType">
                <xsd:annotation>
                    <xsd:documentation>contains one or more structured notes that allow you to provide notes that are more than a simple free-text field. Such notes may include the message text, or this text may be referenced with an external identifier or a URL. An agency may be specified, and is needed in the case where an ID has been provided for a note that is either included in-line or referenced. This field is often used to include references to centrally stored clauses in contracts that are required to appear within business documents. Can also be used to contain the document being responded to.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErrorInfo" type="core:ErrorInfoType">
                <xsd:annotation>
                    <xsd:documentation>contains any error information related to the processing of the item in the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfNameValueSet" type="core:ListOfNameValueSetType">
                <xsd:annotation>
                    <xsd:documentation>is used to hold a collection of values qualified by names. The values contained in this element should be agreed upon by trading partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfAttachment" type="core:ListOfAttachmentType">
                <xsd:annotation>
                    <xsd:documentation>holds a list of attachments applicable to the entire <!--code-->InvoiceResponse<!--/code-->, or to a large part of the <!--code-->InvoiceResponse<!--/code--> it describes. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfInvoiceResponseDetailType">
        <xsd:annotation>
            <xsd:documentation>contains a list of line items for the <!--code-->InvoiceResponse<!--/code-->.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="InvoiceResponseDetail" type="InvoiceResponseDetailType">
                <xsd:annotation>
                    <xsd:documentation>contains the item detail information for the <!--code-->InvoiceResponse<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
