registry/directory/xcbl/v4/financial/v1_0/InvoiceHeaderType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" xmlns:core="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" xmlns:dgs="http://www.w3.org/2000/09/xmldsig#" targetNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" elementFormDefault="qualified">
<xsd:import namespace="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" schemaLocation="../../core/core.xsd"/>


    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XML Common Business Library 4.0
            Copyright 2002 Commerce One, Inc.
            Permission is granted to use, copy, modify and distribute the
            DTD's, schemas and modules in the Commerce One XML Common Business
            Library Version 4.0 subject to the terms and conditions specified
            at http://www.xcbl.org/license.html
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="InvoiceHeaderType">
        <xsd:annotation>
            <xsd:documentation>contains the header information of the Invoice.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InvoiceNumber" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>holds the unique number that identifies the
    <!--code-->Invoice<!--/code-->, typically according to the system that generated the <!--code-->Invoice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InvoiceIssueDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>holds a time stamp provided by the application that created the
    <!--code-->Invoice<!--/code--> document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TaxPointDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>is used to specify the tax point date for tax accounting purpose.
    This element is mandatory if the tax point date is not the same as the
    <!--code-->InvoiceIssueDate<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="InvoiceReferences" type="InvoiceReferencesType">
                <xsd:annotation>
                    <xsd:documentation>contains external references to the <!--code-->Invoice<!--/code--> that are
    important to the processing and use of the <!--code-->Invoice<!--/code-->. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InvoicePurpose" type="InvoicePurposeType">
                <xsd:annotation>
                    <xsd:documentation>defines the purpose of the <!--code-->Invoice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InvoiceType" type="InvoiceTypeType">
                <xsd:annotation>
                    <xsd:documentation>identifies the type of the <!--code-->Invoice<!--/code--> being transmitted. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceCurrency" type="core:CurrencyType">
                <xsd:annotation>
                    <xsd:documentation>identifies the default currency of the <!--code-->Invoice<!--/code-->. This
    may be overwritten at a lower level within the structure
    <!--code-->InvoiceDetail<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PaymentCurrency" type="core:CurrencyType">
                <xsd:annotation>
                    <xsd:documentation>identifies the currency for the payment of the
    <!--code-->Invoice<!--/code-->. This element is used when the payment currency is not the
    same as the <!--code-->InvoiceCurrency<!--/code-->. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfRateOfExchangeDetail" type="core:ListOfRateOfExchangeDetailType">
                <xsd:annotation>
                    <xsd:documentation>contains one or more elements detailing information on the rate
    of exchange between currencies.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TaxAccountingCurrency" type="core:CurrencyType">
                <xsd:annotation>
                    <xsd:documentation>identifies the currency to be used for tax accounting purposes.
    This element is mandatory when the tax accounting currency is not the same as
    the <!--code-->InvoiceCurrency<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InvoiceLanguage" type="core:LanguageType">
                <xsd:annotation>
                    <xsd:documentation>identifies the language of the <!--code-->Invoice<!--/code-->. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TaxReference" type="core:TaxReferenceType">
                <xsd:annotation>
                    <xsd:documentation>is a reference to the tax information relevant to the
    <!--code-->Invoice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceMedium" type="InvoiceMediumType">
                <xsd:annotation>
                    <xsd:documentation>is the method of communicating the <!--code-->Invoice<!--/code-->. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceDates" type="InvoiceDatesType">
                <xsd:annotation>
                    <xsd:documentation>contains pertinent dates for the <!--code-->Invoice<!--/code-->. These may be
    overwritten at a lower level within the structure
    <!--code-->InvoiceDetail<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InvoiceParty" type="InvoicePartyType">
                <xsd:annotation>
                    <xsd:documentation>contains information on the parties to the <!--code-->Invoice<!--/code-->,
    including unique ID's and address information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfTransportRouting" type="core:ListOfTransportRoutingType">
                <xsd:annotation>
                    <xsd:documentation>provides information on the movement of the goods, including details on carrier(s) equipment locations and dates.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceTermsOfDelivery" type="core:TermsOfDeliveryType">
                <xsd:annotation>
                    <xsd:documentation>contains information on the terms of delivery for the
    <!--code-->Invoice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoicePaymentInstructions" type="core:PaymentInstructionsType">
                <xsd:annotation>
                    <xsd:documentation>contains information on the payment instructions for the
    <!--code-->Invoice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceAllowancesOrCharges" type="core:ListOfAllowOrChargeType">
                <xsd:annotation>
                    <xsd:documentation>contains a list of the allowances, discounts or charges
    applicable for the whole invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="CountrySpecificRequirements" type="CountrySpecificRequirementsType">
                <xsd:annotation>
                    <xsd:documentation>contains references and other information that are required in an invoice
    by some countries.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="InvoiceHeaderNote" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>contains any free form text pertinent to the entire invoice or to
    the <!--code-->Invoice<!--/code--> message itself. This element may contain notes or any other similar
    information that is not contained explicitly in another structure. You should
    not assume that the receiving application is capable of doing more than storing
    and/or displaying this information. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfStructuredNote" type="core:ListOfStructuredNoteType">
                <xsd:annotation>
                    <xsd:documentation>contains one or more structured notes that allow you to provide
    notes that are more than a simple free-text field. Such notes may include the
    line item text, or this text may be referenced with an external identifier or a
    URL. An agency may be specified, and is needed in the case where an ID has been
    provided for a note that is either included in-line, or referenced. This field
    is often used to include references to centrally stored clauses in contracts
    that are required to appear within business documents.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfNameValueSet" type="core:ListOfNameValueSetType">
                <xsd:annotation>
                    <xsd:documentation>is used to holds a collection of values qualified by names.  The values contianed
    in this element should be agreed upon by trading partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfAttachment" type="core:ListOfAttachmentType">
                <xsd:annotation>
                    <xsd:documentation>holds a list of attachments applicable to the entire
    <!--code-->Invoice<!--/code-->, or to a large part of the invoice it describes.
    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
