registry/directory/xcbl/v4/financial/v1_0/RemittanceAdviceHeaderType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" xmlns:core="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" xmlns:dgs="http://www.w3.org/2000/09/xmldsig#" targetNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/financial/v1_0/financial.xsd" elementFormDefault="qualified">
<xsd:import namespace="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" schemaLocation="../../core/core.xsd"/>


    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XML Common Business Library 4.0
            Copyright 2002 Commerce One, Inc.
            Permission is granted to use, copy, modify and distribute the
            DTD's, schemas and modules in the Commerce One XML Common Business
            Library Version 4.0 subject to the terms and conditions specified
            at http://www.xcbl.org/license.html
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="RemittanceAdviceHeaderType">
        <xsd:annotation>
            <xsd:documentation>contains the header information for the
            RemittanceAdvice.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RemittanceAdviceID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>contains the unique number that identifies the
                    <!--code-->RemittanceAdvice<!--/code-->, typically according to the system that generated
                    the <!--code-->RemittanceAdvice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RemittanceAdviceIssueDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>holds a time stamp provided by the application that created the <!--code-->RemittanceAdvice<!--/code--> document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RemittanceAdvicePurpose" type="core:PurposeType">
                <xsd:annotation>
                    <xsd:documentation>indicates the intended use of the <!--code-->RemittanceAdvice<!--/code-->
                    document. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RemittanceAdviceStatusCoded" type="RemittanceAdviceStatusCodeType">
                <xsd:annotation>
                    <xsd:documentation>provides the status of the <!--code-->RemittanceAdvice<!--/code--> in terms of the payment stage.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RemittanceAdviceStatusCodedOther" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>is used to provide a non-standard <!--code-->RemittanceAdviceStatusCode<!--/code-->. This
                    element is only used if the value of <!--code-->RemittanceAdviceStatusCoded<!--/code--> is 'Other' when it is
                    mandatory.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PaymentSettlementDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>contains the date the originating company intends for the
                    transaction to be settled.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TotalAmountDue" type="core:MonetaryValueType">
                <xsd:annotation>
                    <xsd:documentation>contains the total amount of payment due.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TotalAmountPaid" type="core:MonetaryValueType">
                <xsd:annotation>
                    <xsd:documentation>contains the total amount of payment being made.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentCurrency" type="core:CurrencyType">
                <xsd:annotation>
                    <xsd:documentation>specifies the currency used in the payment
                    transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfRateOfExchangeDetail" type="core:ListOfRateOfExchangeDetailType">
                <xsd:annotation>
                    <xsd:documentation>contains one or more elements detailing information on the rate
                    of exchange between currencies.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfPrice" type="core:ListOfPriceType">
                <xsd:annotation>
                    <xsd:documentation>is used to provide default pricing schemes for all items contained in the <!--code-->RemittanceAdvice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Language" type="core:LanguageType">
                <xsd:annotation>
                    <xsd:documentation>specifies the language used in the <!--code-->RemittanceAdvice<!--/code-->.
                    This is an ISO language code. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="IsCredit" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>contains a boolean indicator to specify whether the amount is a
                    credit or debit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PaymentInstructions" type="core:PaymentInstructionsType">
                <xsd:annotation>
                    <xsd:documentation>contains the terms and the method of payment for goods or
                    services received.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfFinancialInstitutionCoded" type="ListOfFinancialInstitutionCodedType">
                <xsd:annotation>
                    <xsd:documentation>identifies any other financial institutions other than the originating and recieving
                    that are relavent to the remittance advice.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PaymentParty" type="PaymentPartyType">
                <xsd:annotation>
                    <xsd:documentation>contains information on all parties involved in the
                    <!--code-->RemittanceAdvice<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PaymentReasonCoded" type="PaymentReasonCodeType">
                <xsd:annotation>
                    <xsd:documentation>specifies the business purpose of the payment. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="PaymentReasonCodedOther" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>is used to provide a non-standard <!--code-->PaymentReasonCode<!--/code-->.
                    This element is mandatory if the value of <!--code-->PaymentReasonCoded<!--/code--> is
                    'Other'. These codes should not contain white space unless absolutely
                    necessary.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TransactionHandlingCoded" type="TransactionHandlingCodeType">
                <xsd:annotation>
                    <xsd:documentation>communicates the handling of transactions relating to the remittance advice document</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TransactionHandlingCodedOther" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>is used to provide a non-standard <!--code-->TransactionHandlingCode<!--/code-->. This
                    element is only used if the value of <!--code-->TransactionHandlingCoded<!--/code--> is 'Other' when it is
                    mandatory.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="TraceType" type="TraceTypeType">
                <xsd:annotation>
                    <xsd:documentation>identifies a transaction being referenced.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfRemittanceAdviceReference" type="core:ListOfReferenceCodedType">
                <xsd:annotation>
                    <xsd:documentation>contains a list of documents, business transactions, or
                    identifiers that are relevant to the <!--code-->RemittanceAdvice<!--/code--> document, i.e.: invoices, purchase order, ASN.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RemittanceAdviceHeaderNote" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>contains any free-form text pertinent to the entire
                    <!--code-->RemittanceAdvice<!--/code-->. This element may contain notes or any other similar information that
                    is not contained explicitly in another structure. You should not assume that the
                    receiving application is capable of doing more than storing and/or displaying this information. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfStructuredNote" type="core:ListOfStructuredNoteType">
                <xsd:annotation>
                    <xsd:documentation>contains one or more structured notes that allow you to provide
    notes that are more than a simple free-text field. Such notes may include the
    line item text, or this text may be referenced with an external identifier or a
    URL. An agency may be specified, and is needed in the case where an ID has been
    provided for a note that is either included in-line, or referenced. This field
    is often used to include references to centrally stored clauses in contracts
    that are required to appear within business documents.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfNameValueSet" type="core:ListOfNameValueSetType">
                <xsd:annotation>
                    <xsd:documentation>is used to holds a collection of values qualified by names.  The values contianed
    in this element should be agreed upon by trading partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfAttachment" type="core:ListOfAttachmentType">
                <xsd:annotation>
                    <xsd:documentation>holds a list of attachments applicable to the entire
    <!--code-->Invoice<!--/code-->, or to a large part of the invoice it describes.
    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
