registry/directory/xcbl/v4/applicationintegration/v1_0/RequisitionHeaderType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="rrn:org.xcbl:schemas/xcbl/v4_0/applicationintegration/v1_0/applicationintegration.xsd" xmlns:core="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" xmlns:dgs="http://www.w3.org/2000/09/xmldsig#" targetNamespace="rrn:org.xcbl:schemas/xcbl/v4_0/applicationintegration/v1_0/applicationintegration.xsd" elementFormDefault="qualified">
<xsd:import namespace="rrn:org.xcbl:schemas/xcbl/v4_0/core/core.xsd" schemaLocation="../../core/core.xsd"/>

    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XML Common Business Library 4.0
            Copyright 2002 Commerce One, Inc.
            Permission is granted to use, copy, modify and distribute the
            DTD's, schemas and modules in the Commerce One XML Common Business
            Library Version 4.0 subject to the terms and conditions specified
            at http://www.xcbl.org/license.html
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="RequisitionHeaderType">
        <xsd:annotation>
            <xsd:documentation>contains the header information of the requisition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RequisitionNumber" type="RequisitionNumberType">
                <xsd:annotation>
                    <xsd:documentation>is the unique number assigned to the <!--code-->Requisition<!--/code-->, typically according to the system that generated the <!--code-->Requisition<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequisitionIssueDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>holds a time stamp provided by the application that created the
                    <!--code-->Requisition<!--/code--> document. This is the date and time the document is transmitted. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RequisitionCreateDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>holds a time stamp provided by the application that created the
                    <!--code-->Requisition<!--/code--> document.  This is the date and time the requisition document is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequisitionType" type="RequisitionTypeType">
                <xsd:annotation>
                    <xsd:documentation>is used to identify whether the requisition is a blanket order release, order request, or some other user defined requisition type.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RequisitionReferences" type="RequisitionReferencesType">
                <xsd:annotation>
                    <xsd:documentation>contains external references to the <!--code-->Requisition<!--/code--> that are important to the processing and use of the <!--code-->Requisition<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Purpose" type="core:PurposeType">
                <xsd:annotation>
                    <xsd:documentation>is used to communicate the purpose of the <!--code-->Requisition<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequisitionCurrency" type="core:CurrencyType">
                <xsd:annotation>
                    <xsd:documentation>identifies the default currency of the <!--code-->Requisition<!--/code-->, which when used at
                    the header level may be overwritten at the lower level within the
                    structure.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequisitionLanguage" type="core:LanguageType">
                <xsd:annotation>
                    <xsd:documentation>identifies the language of the <!--code-->Requisition<!--/code-->. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RequisitionDates" type="RequisitionDatesType">
                <xsd:annotation>
                    <xsd:documentation>is used to hold a list of the pertinent dates for the
                    <!--code-->Requisition<!--/code--> - dates include validity dates, <!--code-->RequestedShipDate<!--/code-->,
                    <!--code-->CancelByDates<!--/code-->, among others. These dates apply to the entire
                    Requisition, acting as defaults and that may be overwritten at the item level or
                    package level in the body of the message.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequisitionParty" type="RequisitionPartyType">
                <xsd:annotation>
                    <xsd:documentation>holds information on the parties for the <!--code-->Requisition<!--/code-->, including unique
                    ID's and address information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfApprovalInformation" type="ListOfApprovalInformationType">
                <xsd:annotation>
                    <xsd:documentation>contains the name, address, and contact information for the designated approvers of the requisition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequisitionTaxReference" type="core:TaxReferenceType">
                <xsd:annotation>
                    <xsd:documentation>identifies the default tax information for the <!--code-->Requisition<!--/code-->
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfTransportRouting" type="core:ListOfTransportRoutingType">
                <xsd:annotation>
                    <xsd:documentation>provides information on the movement of the goods including
                    carrier, equipment and service level instructions. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequisitionTermsOfDelivery" type="core:TermsOfDeliveryType">
                <xsd:annotation>
                    <xsd:documentation>defines the terms of delivery for the <!--code-->Requisition<!--/code-->. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RequisitionPaymentInstructions" type="core:PaymentInstructionsType">
                <xsd:annotation>
                    <xsd:documentation>holds the payment instructions for the
                    <!--code-->Requisition<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RequisitionAllowancesOrCharges" type="core:ListOfAllowOrChargeType">
                <xsd:annotation>
                    <xsd:documentation>contains the allowances and/or charges for the whole
                    <!--code-->Requisition<!--/code-->. These may include goods and shipping charges. Additional
                    allowance or charges may be present at lower levels of the <!--code-->Requisition<!--/code-->.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="JustificationNote" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>contains free form text that is used to give justification or reason for the request for goods or services.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SpecialHandling" type="core:SpecialHandlingType">
                <xsd:annotation>
                    <xsd:documentation>descibes any special handling conditions that apply to the enitre Requisition.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfStructuredNote" type="core:ListOfStructuredNoteType">
                <xsd:annotation>
                    <xsd:documentation>contains one or more structured notes that allow you to provide
                    notes that are more than a simple free-text field. such notes may include the
                    message text, or this text may be referenced with an external identifier or a
                    URL. An agency may be specified, and is needed in the case where an ID has been
                    provided for a note that is either included in-line or referenced. This field
                    is often used to include references to centrally stored clauses in contracts
                    that are required to appear within business documents.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ListOfNameValueSet" type="core:ListOfNameValueSetType">
                <xsd:annotation>
                    <xsd:documentation>is used to hold sets of name value pairs.  The use of this element should
                    be limited to the support of previous versions of xCBL.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="RequisitionHeaderAttachments" type="core:ListOfAttachmentType">
                <xsd:annotation>
                    <xsd:documentation>holds a list of attachments applicable to the entire
                    <!--code-->Requisition<!--/code-->, or a large part of the consignment it describes. This
                    information is not specific to a particular line item or package unless
                    specifically noted.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
